.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  transition: transform 0.2s;
}
.centered:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.cent {
  position: fixed;
  top: 25%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
  border: 1px solid;
  padding: 10px;
  transition: transform 0.2s;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(60deg);
  }
}
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 95%;
  max-width: 500px;
  height: 250px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  font-size: 18px;
  border: 2px solid #222;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  background: #fff;
}
.ex1 {
  background-color: lightblue;
  width: 110px;
  height: 110px;
  overflow: scroll;
}
.center {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 20%;
  left: 35%;
  margin-top: -50px;
  margin-left: -10px;
  border: 1px solid;
  padding: 10px;
  overflow: scroll;
}
.ce {
  position: fixed;
  top: 80%;
  left: 55%;
  margin-top: -50px;
  margin-left: -100px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  transition: transform 0.2s;
}
.c {
  position: fixed;
  top: 10%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  border: 1px solid;
  padding: 10px;
}
.ce:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.tp {
  position: fixed;
  top: 90%;
  left: 55%;
  margin-top: -50px;
  margin-left: -100px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  transition: transform 0.2s;
}
.tp:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
